@{
    ViewBag.Title = "About - session1";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>    domain changed from   <b> http://localhost:58166/</b>  to <b>http://localhost:58225/Home/About</b>  </p>
<p> @ViewBag.userId</p>
<p> @ViewBag.userName</p>
